.boost {
	&__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&--heading {
			color: #fff;
			font-size: 3.7rem;
			margin-bottom: 3rem;
		}

		&--btn {
			padding: 1.5rem 4.4rem;
			border-radius: 4rem;
			font-size: 2.2rem;
		}
	}
}
