.header {
	display: flex;
	margin-top: 15rem;

	// Header is wider than the actual container to 'push' out the image and let the content (text) grow wider
	width: 130rem;

	&__content {
	}

	&__title {
		color: $color-violet-dark;
		font-size: 7rem;
		font-weight: $font-bolder;
		line-height: 8.5rem;
	}

	&__sub {
		font-size: $font-regular;
		color: $color-grey-violet;
		// width: 80%;

		margin-top: 2rem;
	}

	&__cta {
		margin-top: 3rem;
		padding: 1.2rem 3.4rem;
		border-radius: 3rem;
	}

	&__img {
		position: relative;
		bottom: 5rem;
		left: 15%;
	}
}
