.header {
	margin-top: 15rem;
	width: 50%;
	position: relative;

	// Temporary
	&::after {
		position: absolute;
		top: -25%;
		left: 120%;
		content: url(../../images/illustration-working.svg);
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__title {
		color: $color-violet-dark;
		font-size: 7rem;
		font-weight: $font-bolder;
		line-height: 8.5rem;
	}

	&__sub {
		font-size: $font-regular;
		color: $color-grey-violet;
		width: 80%;
	}

	&__cta {
		margin-top: 3rem;
		padding: 1.2rem 3.4rem;
		border-radius: 3rem;
	}
}
