.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__brand {
		font-size: 3.2rem;
		margin-right: 8rem;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex: 0 0 23%;
		margin-right: auto;

		&--item {
			color: $color-grey-violet;
			font-size: 1.5rem;
			font-weight: $font-bold;
		}
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		flex: 0 0 18%;
		font-family: $font-poppins;
		font-size: 1.6rem;
		color: $color-grey-violet;

		&--login {
			font-family: inherit;
			font-size: inherit;
			font-weight: $font-bold;
			color: inherit;
			border: none;
			background: none;
		}

		&--signup {
			border-radius: 20px;
			padding: 0.6rem 2rem;
		}
	}
}
