// Padding is done so the background will change while the content inside is correctly positioned

.section-heading {
	position: relative;
	background-color: white;

	padding-top: 5rem;
	padding-bottom: 25rem;
}

// Colors provided by project don't seem correct so I guessed a lighter shade of grey
.section-statistics {
	background-color: rgba($color-grey-violet, 0.15);

	padding-top: 20rem;
	padding-bottom: 25rem;
}

.section-boost {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../../images/bg-boost-desktop.svg');
	background-repeat: no-repeat;
	background-color: $color-violet;
	background-size: cover;
	padding: 5rem 0;
}

.section-footer {
	padding-top: 5rem;
	padding-bottom: 25rem;

	background-color: $color-violet-dark;
}
