.shortener__container {
	display: flex;
	flex-direction: column;

	background: url(../../images/bg-shorten-desktop.svg);
	background-color: $color-violet;
	background-size: cover;
	background-repeat: no-repeat;

	border-radius: 5px;
	padding: 5rem 4rem 2rem 4rem;
	width: 122rem;

	// Not sure how to exactly center this between sections when it's absolute positioned
	position: absolute;
	top: -8%;
}

.input__container {
	display: flex;
	justify-content: space-between;

	&--input {
		flex: 0 0 80%;
		padding: 1.7rem 2.5rem;
		border-radius: 5px;
		border: solid 2px $color-grey;
		font-size: 1.8rem;
		font-family: inherit;
		color: $color-violet;

		&:active,
		&:focus {
			outline: none;
			border: solid 2px $color-red;
		}

		&:active,
		&:focus {
			&::placeholder {
				color: rgba($color-red, 0.6);
			}
		}

		&::placeholder {
			font-family: $font-poppins;
			letter-spacing: 1px;
			font-size: 1.8rem;
		}
	}

	&--btn {
		padding: 1rem 4.5rem;
		border-radius: 1.5rem;
	}

	//TODO: Show sub only when there is nothing in input field
	&--sub {
		margin-top: 1rem;
		font-size: 1.4rem;
		color: $color-red;
		font-style: italic;
	}
}

// The box around both the input + button and the 'please add a link' text
.input__content {
	height: 9.6rem;
}
