*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
html {
	font-size: 62.5%;
}

body {
	font-family: $font-poppins;
	font-size: $font-regular;
	height: 100%;

	// Removes horizontal scrollbar caused by the img
	overflow-x: hidden;
}

button {
	cursor: pointer;

	&:focus,
	&:active {
		outline: none;
	}
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 122rem;
	margin: 0 auto;
}
